.button {
  display: flex;
  justify-content: center;
  align-items: center;

  span {
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }

  &--light {
    color: #ffffff;

    border: 4px solid #ffffff;

    &:hover,
    &:focus {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }
  }

  &--play {
    position: relative;
    width: 72px;
    height: 72px;
    padding: 0;
    margin: 0;

    border: none;
    border-radius: 50%;
    background: linear-gradient(44.89deg, #003d85 25.38%, #b80027 74.89%);

    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;

      width: 100px;
      height: 100px;
      background-image: url("../img/button-play-shadow.svg");
      background-repeat: no-repeat;

      transform: translate(-50%, -50%);
    }

    svg {
      transform: translateX(4px);
    }
  }
}

@media (max-width: $tablet-width) {
  .button {
    &--light {
      &:hover,
      &:focus {
        opacity: 1;
      }

      &:active {
        opacity: 1;
      }
    }

    &--play {
      width: 52px;
      height: 52px;

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;

        width: 73px;
        height: 73px;
        background-image: url("../img/button-play-shadow.svg");
        background-repeat: no-repeat;
        background-size: cover;

        transform: translate(-50%, -50%);
      }

      svg {
        width: 11px;
        height: 11px;
        transform: translateX(0);
      }
    }
  }
}
