.event {
  display: flex;
  max-width: 1160px;
  margin: 0 auto;
  padding-top: 120px;
  padding-bottom: 60px;
}

.event__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 500px;
  padding: 78px 78px;

  background-color: #ed0233;
}

.event__title {
  width: 201px;
  margin: 0;

  font-family: "BebasNeue", "Arial", sans-serif;
  font-size: 90px;
  font-weight: 400;
  line-height: 90px;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.event__stats {
  width: 92px;
  display: flex;
  flex-wrap: wrap;
  align-self: flex-start;
}

.event__stats-list {
  margin: 0;
  margin-bottom: 8px;
}

.event__stats-item {
  &--header {
    padding-top: 2px;

    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    color: #ffffff;
  }

  &--value {
    position: relative;

    margin: 0;

    font-size: 40px;
    font-weight: 700;
    line-height: 60px;
    color: #ffffff;

    span {
      display: inline-block;
      width: 37px;

      vertical-align: baseline;
      font-size: 14px;
      font-weight: 400;
      line-height: 19px;

      transform: translateX(-3px);
    }

    &::before {
      content: "";

      position: absolute;
      top: 6px;
      left: 0;

      width: 100%;
      height: 1px;

      background-color: #ffffff;
    }
  }
}

.event__description {
  margin: 0;
  margin-bottom: 33px;

  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  color: #ffffff;

  transform: translateY(-5px);
}

.event__link {
  width: 345px;
  height: 71px;
}

.event__img-container {
  display: flex;
  flex-grow: 1;

  line-height: 0;

  img {
    object-fit: cover;
    font-family: "object-fit: cover";

    height: 100%;
  }
}

@media (max-width: $tablet-width) {
  .event {
    width: 100%;
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 100px;
  }

  .event__wrapper {
    width: 292px;
    padding: 45px 45px;
  }

  .event__title {
    width: 117px;

    font-size: 52px;
    line-height: 52px;
  }

  .event__stats {
    width: 56px;
  }

  .event__stats-list {
    margin-bottom: 1px;
  }

  .event__stats-item {
    &--header {
      padding-top: 2px;

      font-size: 12px;
      line-height: 18px;
    }

    &--value {
      margin: 0;

      font-size: 24px;
      line-height: 32px;

      span {
        width: 26px;

        font-size: 10px;
        line-height: 10px;

        transform: translateX(-3px);
      }

      &::before {
        top: 1px;
        left: 0;
      }
    }
  }

  .event__description {
    margin-bottom: 22px;

    font-size: 12px;
    line-height: 18px;

    transform: translateY(-3px);
  }

  .event__link {
    width: 204px;
    height: 41px;
  }

  .event__img-container {
    img {
      height: 292px;
    }
  }
}

@media (max-width: $mobile-width) {
  .event {
    flex-direction: column;
    width: 290px;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
    padding-top: 62px;
    padding-bottom: 40px;
  }

  .event__wrapper {
    width: 100%;
    padding: 45px 45px;
  }

  .event__description {
    margin-bottom: 32px;

    transform: translateY(2px);
  }

  .event__link {
    margin-bottom: 5px;
  }

  .event__img-container {
    img {
      height: 292px;
    }
  }
}
