.gym {
  display: flex;
  max-width: 1160px;
  margin: 0 auto;
  padding-top: 120px;
  padding-bottom: 120px;

  background-image: url("../img/gym-desktop@1x.jpg");
  background-repeat: no-repeat;
  background-position: right 0 top 120px;

  @media (min-resolution: $retina-dppx) {
    background-image: url("../img/gym-desktop@2x.jpg");
    background-size: 660px 401px;
  }
}

.gym__wrapper {
  max-width: 410px;
  margin-right: 27px;
  padding-top: 50px;
  padding-left: 60px;
  padding-bottom: 138px;
}

.gym__title {
  margin: 0;
  margin-bottom: 4px;

  font-family: "BebasNeue", "Arial", sans-serif;
  font-size: 49px;
  font-weight: 700;
  line-height: 49px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #102654;
}

.gym__slogan {
  margin: 0;
  margin-bottom: 40px;

  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  color: #102654;
}

.gym__description {
  margin: 0;
  margin-bottom: 8px;

  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  color: #102654;
}

.gym__video {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 364px;
  height: 228px;
  margin-top: auto;

  background-image: url("../img/gym-video-desktop@1x.jpg");
  background-repeat: no-repeat;

  @media (min-resolution: $retina-dppx) {
    background-image: url("../img/gym-video-desktop@2x.jpg");
    background-size: cover;
  }

  &--enabled {
    .gym__video-button {
      display: block;
    }
  }
}

.gym__video-link {
  position: absolute;
  top: 0;
  left: 0;

  display: block;

  width: 100%;
  height: 100%;
}

.gym__video-button {
  display: none;
}

.gym__video-media {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  border: none;
}

@media (max-width: 1160px) {
  .gym {
    flex-direction: column;
    align-items: center;
    padding-top: 101px;

    background-position: right 50% bottom 203px;
  }

  .gym__wrapper {
    max-width: 100%;
    margin-right: 0;
    padding-top: 0;
    padding-left: 45px;
    padding-right: 45px;
    padding-bottom: 311px;
  }

  .gym__title {
    text-align: center;
  }

  .gym__slogan {
    text-align: center;
  }

  .gym__description {
    text-align: center;
  }
}

@media (max-width: $tablet-width) {
  .gym {
    padding-bottom: 100px;

    background-image: url("../img/gym-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: right 50% bottom 183px;

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/gym-tablet@2x.jpg");
      background-size: 678px 345px;
    }
  }

  .gym__wrapper {
    padding-bottom: 0;
    margin-bottom: 296px;
  }

  .gym__title {
    margin-bottom: 6px;

    font-size: 42px;
    line-height: 42px;
    text-align: center;
  }

  .gym__slogan {
    margin-bottom: 35px;

    text-align: center;
  }

  .gym__description {
    padding: 0 50px;

    text-align: center;

    &--hidden {
      display: none;
    }
  }

  .gym__video {
    width: 266px;
    height: 167px;
    margin-top: 0;

    background-image: url("../img/gym-video-tablet@1x.jpg");
    background-repeat: no-repeat;

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/gym-video-tablet@2x.jpg");
      background-size: cover;
    }
  }
}

@media (max-width: $mobile-width) {
  .gym {
    position: relative;

    padding-top: 70px;
    padding-bottom: 70px;

    background-image: none;

    &::before {
      content: "";
      position: absolute;
      bottom: 277px;
      left: 0;

      display: block;
      width: 100%;
      height: 313px;

      background-image: url("../img/gym-mobile@1x.jpg");
      background-repeat: no-repeat;
      background-size: cover;

      @media (min-resolution: $retina-dppx) {
        background-image: url("../img/gym-mobile@2x.jpg");
      }
    }
  }

  .gym__wrapper {
    margin-bottom: 378px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .gym__title {
    margin-bottom: 4px;

    font-size: 32px;
    line-height: 32px;
    text-align: left;
  }

  .gym__slogan {
    margin-bottom: 25px;

    text-align: left;
  }

  .gym__description {
    padding: 0;
    padding-right: 27px;

    text-align: left;
  }

  .gym__video {
    width: 100%;
    height: 167px;
    margin-top: 0;

    background-image: url("../img/gym-video-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/gym-video-mobile@2x.jpg");
    }
  }
}
