.plans {
  position: relative;

  padding-top: 116px;
  padding-bottom: 120px;

  background-color: #f8f9fc;

  &::before {
    content: "";

    position: absolute;
    right: 0;
    bottom: -150px;
    z-index: 1;

    display: block;
    width: 287px;
    height: 494px;

    background-image: url("../img/plans-bg-desktop@1x.png");
    background-repeat: no-repeat;

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/plans-bg-desktop@2x.png");
      background-size: cover;
    }
  }
}

.plans__tabs {
  display: flex;
  justify-content: center;
}

.plans__list {
  position: relative;
  max-width: 1160px;
  margin: 0 auto;
  z-index: 5;
}

.plans__title {
  margin: 0;
  margin-bottom: 37px;

  font-family: "BebasNeue", "Arial", sans-serif;
  font-size: 49px;
  font-weight: 700;
  line-height: 49px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
}

@media (max-width: $tablet-width) {
  .plans {
    padding-top: 96px;
    padding-bottom: 100px;

    &::before {
      width: 347px;
      height: 444px;
      right: 0;
      bottom: -125px;

      background-image: url("../img/plans-bg-tablet@1x.png");

      @media (min-resolution: $retina-dppx) {
        background-image: url("../img/plans-bg-tablet@2x.png");
        background-size: cover;
      }
    }
  }

  .plans__title {
    margin-bottom: 33px;

    font-size: 42px;
    line-height: 42px;
  }
}

@media (max-width: $mobile-width) {
  .plans {
    padding-top: 67px;
    padding-bottom: 70px;

    &::before {
      display: none;
    }
  }

  .plans__title {
    margin-bottom: 25px;

    font-size: 32px;
    line-height: 32px;
  }
}
