.promo {
  padding-top: 117px;
  padding-bottom: 60px;
}

.promo__wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 1160px;
  margin: 0 auto;
}

.promo__main-title {
  margin: 0;
  margin-bottom: 54px;

  font-family: "BebasNeue", "Arial", sans-serif;
  font-size: 49px;
  font-weight: 700;
  line-height: 49px;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: #102654;
}

.promo__special {
  display: flex;
  width: 560px;
  margin-right: 30px;
}

.promo__special-wrapper {
  width: 50%;
  padding-top: 2px;
  padding-left: 45px;
  padding-right: 45px;
  padding-bottom: 28px;


  background-color: #ed0233;
}

.promo__special-title {
  width: 142px;
  margin: 0;
  margin-bottom: 19px;

  font-size: 70px;
  font-weight: 700;
  line-height: 70px;
  color: #ffffff;

  span {
    font-size: 28px;
    line-height: 28px;
  }
}

.promo__special-description {
  margin: 0;
  margin-bottom: 186px;

  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  color: #ffffff;
}

.promo__special-link {
  position: relative;

  display: inline-block;
  vertical-align: baseline;
  margin-bottom: 18px;
  padding-bottom: 1px;

  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;

  &::before {
    content: "";

    position: absolute;
    left: 0;
    bottom: 0;

    display: block;
    width: 100%;
    height: 1px;

    background-color: #ffffff;
  }

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.promo__img-container {
  width: 50%;

  line-height: 0;

  img {
    height: 100%;

    object-fit: cover;
    font-family: "object-fit: cover";
  }
}

.promo__list {
  @include list-reset;

  display: flex;
  flex-direction: column;
  width: 48.28%;
}

.promo__item {
  margin-bottom: 40px;
  padding: 22px 28px;

  border: 7px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(45deg, #d10a42, #00359f);

  &:last-child {
    margin-bottom: 0;
  }
}

.promo__title {
  margin: 0;
  margin-bottom: 8px;

  font-size: 26px;
  font-weight: 700;
  line-height: 30px;
  color: #1c3374;
}

.promo__description {
  margin: 0;
  margin-bottom: 68px;

  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #1c3374;
}

.promo__link {
  position: relative;

  display: inline-block;
  vertical-align: baseline;
  margin-bottom: 7px;

  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #1c3374;

  &::before {
    content: "";

    position: absolute;
    left: 0;
    bottom: 0;

    display: block;
    width: 100%;
    height: 1px;

    background-color: #1c3374;
  }

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

@media (max-width: $tablet-width) {
  .promo {
    padding-top: 96px;
    padding-bottom: 50px;
  }

  .promo__wrapper {
    flex-direction: column;
    justify-content: flex-start;
    max-width: 100%;
    padding-left: 45px;
    padding-right: 45px;
  }

  .promo__main-title {
    margin-bottom: 44px;

    font-size: 42px;
    line-height: 42px;
  }

  .promo__special {
    width: 100%;
    margin-right: 0;
    margin-bottom: 29px;
  }

  .promo__special-wrapper {
    width: 41.2%;
    padding-top: 2px;
    padding-left: 45px;
    padding-right: 45px;
    padding-bottom: 28px;
  }

  .promo__special-link {
    &:hover,
    &:focus {
      opacity: 1;
    }

    &:active {
      opacity: 1;
    }
  }

  .promo__img-container {
    flex-grow: 1;
    width: auto;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .promo__list {
    @include list-reset;

    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }

  .promo__item {
    width: 47.8%;
    margin-bottom: 0;
    padding: 22px 28px;

    &:first-child {
      .promo__description {
        padding-right: 27px;
        margin-bottom: 46px;
      }
    }
  }

  .promo__link {
    &:hover,
    &:focus {
      opacity: 1;
    }

    &:active {
      opacity: 1;
    }
  }
}

@media (max-width: $mobile-width) {
  .promo {
    padding-top: 67px;
    padding-bottom: 35px;
  }

  .promo__wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }

  .promo__main-title {
    margin-bottom: 45px;

    font-size: 32px;
    line-height: 32px;
  }

  .promo__special {
    flex-direction: column;

    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }

  .promo__special-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 2px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 27px;
  }

  .promo__special-title {
    margin-bottom: 14px;

    text-align: center;
  }

  .promo__special-description {
    margin-bottom: 31px;

    text-align: center;
  }

  .promo__img-container {
    width: 100%;
    height: 93.43vw;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .promo__list {
    @include list-reset;

    flex-direction: column;
    justify-content: flex-start;
  }

  .promo__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
    padding: 34px 28px;

    &:last-child {
      margin-bottom: 0;
    }

    &:first-child {
      .promo__description {
        padding-right: 0;
        margin-bottom: 28px;
      }
    }

    &:nth-child(2) {
      .promo__description {
        padding: 0 27px;
      }
    }
  }

  .promo__title {
    text-align: center;
  }

  .promo__description {
    margin-bottom: 28px;

    text-align: center;
  }

  .promo__link {
    margin-bottom: 5px;
  }
}
