.schedule__container {
  position: relative;

  width: 84.69%;
  margin: 0 auto;
  display: flex;
}

.schedule__title {
  margin: 0;
  margin-bottom: 54px;
  padding-top: 116px;

  font-family: "BebasNeue", "Arial", sans-serif;
  font-size: 49px;
  font-weight: 700;
  line-height: 49px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #102654;
}

.schedule__time-list {
  @include list-reset;

  width: 5.61%;
  margin-top: 74px;
  margin-right: 8px;
}

.schedule__time-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 110px;
  margin-bottom: 8px;

  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  color: #15367a;

  border: 2px solid #1c3374;

  &--hovered {
    color: #ffffff;

    border-color: transparent;
    background-color: #ed0233;
  }

  &--disabled {
    color: #d2d6e3;

    border-color: #d2d6e3;
  }
}

.schedule__main-list {
  @include list-reset;

  display: flex;
  justify-content: space-between;
  width: 93.69%;
}

.schedule__main-item {
  width: 13.75%;
}

.schedule__day {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  margin-bottom: 8px;
  height: 66px;

  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  color: #15367a;

  border: 2px solid #1c3374;

  &--hovered {
    color: #ffffff;

    border-color: transparent;
    background-color: #ed0233;
  }
}

.schedule__training-list {
  @include list-reset;
}

.schedule__training-item {
  height: 110px;
  margin-bottom: 8px;

  color: #102654;

  border: 2px solid transparent;
  background-color: #f8f9fc;

  &--hovered {
    color: #ed0233;
    border-color: #ed0233;
    background-color: #ffffff;
  }

  &--checked {
    color: #102654;
    border: 2px solid #102654;
    background-color: #ffffff;
  }

  label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
  }
}

.schedule__select {
  display: none;
}

@media (max-width: $tablet-width) {
  .schedule__container {
    width: 88.28%;
  }

  .schedule__title {
    margin: 0;
    margin-bottom: 43px;
    padding-top: 76px;

    font-size: 42px;
    line-height: 42px;
  }

  .schedule__time-list {
    width: 9.14%;
    margin-top: 74px;
    margin-right: 8px;
  }

  .schedule__time-item {
    height: 108px;
  }

  .schedule__main-list {
    width: 89.67%;
    justify-content: flex-start;

    overflow-x: scroll;
  }

  .schedule__main-item {
    width: 24.01%;
    margin-right: 8px;
    flex-shrink: 0;

    &:last-child {
      margin-right: 0;
    }
  }

  .schedule__training-item {
    height: 108px;
  }

  ::-webkit-scrollbar {
    height: 4px;
  }

  ::-webkit-scrollbar-track {
    background: #feebef;
  }

  ::-webkit-scrollbar-thumb {
    background: #ed0233;
  }
}

@media (max-width: $mobile-width) {
  .schedule__container {
    width: 90.62%;
  }

  .schedule__title {
    margin: 0;
    margin-bottom: 45px;
    padding-top: 67px;

    font-size: 32px;
    line-height: 32px;
  }

  .schedule__time-list {
    width: 60px;
    margin-top: 67px;
    margin-right: 8px;
  }

  .schedule__time-item {
    height: 80px;

    font-size: 16px;
  }

  .schedule__main-list {
    position: absolute;
    top: 60px;
    left: 68px;

    width: 76.55%;
    flex-direction: column;

    overflow-x: auto;

    z-index: 20;
  }

  .schedule__main-item {
    position: relative;

    width: 100%;
    margin-right: 0;
    margin-bottom: 0;
  }

  .schedule__day {
    display: none;
  }

  .schedule__training-list {
    display: none;
    width: 100%;
    padding-top: 8px;

    background-color: #ffffff;

    z-index: 10;

    &--opened {
      display: block;
    }
  }

  .schedule__training-item {
    height: 79px;

    label {
      font-size: 16px;
      line-height: 24px;
    }
  }

  .schedule__select {
    display: flex;
  }

  ::-webkit-scrollbar {
    width: 4px;
  }
}
