.social-list {
  @include list-reset;

  display: flex;
  flex-wrap: wrap;
}

.social-list__item {
  padding-top: 42px;
  margin-right: 25px;

  &:last-child {
    margin-right: 0;
  }
}

.social-list__link {
  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

@media (max-width: $tablet-width) {
  .social-list__item {
    padding-top: 47px;
    margin-right: 20px;
  }

  .social-list__link {
    &:hover,
    &:focus {
      opacity: 1;
    }

    &:hover,
    &:active {
      opacity: 1;
    }
  }
}
